body {
	font-family: 'Abel', sans-serif;
	font-size: 17px;

}

/* logo */

.logo-row {
	text-align: center;

}

/* nav */
nav {
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.609);
	/* Large padding which will shrink on scroll (using JS) */
	transition: 0.4s;
	/* Adds a transition effect when the padding is decreased */
	position: fixed;
	/* Sticky/fixed navbar */
	width: 100%;
	/* At the top */
	z-index: 50;
}

/* Tous les "ul" */
nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

/* Les "li" du 1er niveau */
nav>ul>li {
	margin: 22px;
	display: inline-block;
	padding: 37px 0;


}

/* Les liens du 1er niveau */
nav>ul>li>a {
	font-weight: bold;
	padding: 20px 30px;
	color: white;
	display: inline-block;
}
hr{
	color: transparent;
	size: 5px;
}

nav a,
.social a {
	text-decoration: none;
}

li {
	list-style: none;
}

/* La partie bleu, le 2eme niveau */
nav .menu {
	display: none;
	position: absolute;
	
	left: 28%;
}

/* Le 2eme niveau s'affiche au hover */
nav ul li:hover .menu {
	display: block;
	

}

/* Le 3eme niveau : bloc de gauche et de droite */

.sous-menu li {
	display: block;
	color: #f0f0f0;
	background: #ff9a00;
	margin-top: 5px;
	
    

}

.menu a {
	line-height: 0.7;

}

/* SLIDER */


/* Slideshow container */
.slideshow-container {
	position: relative;
	margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* slider2 */
#container {
	height: 100vh;
	width: 80vw;
	margin: 0;
	padding: 0;
	display: grid;
	place-items: center
}

#slider-container .btn {
	position: absolute;
	top: 228%;
	height: 10px;
	width: 10px;
}

#slider-container .btn:hover {
	transform: scale(1.2);
}

#slider-container .btn:first-of-type {

	left: 180px
}

#slider-container .btn:last-of-type {
	right: 250px;
}

#slider-container #slider {
	display: flex;
	width: 1000%;
	height: 100%;
	transition: all .5s;
}

#slider-container #slider .slide {
	height: 90%;
	margin: auto 0px;
	border: 1px solid white;
	display: grid;
	place-items: center;
}

/* main*/
main {
	background-image: url("../images/bg-content.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
/* main section*/
section,
footer {
	max-width: 70%;
	margin: 5% auto;
}

article {
	margin: 2% 0;
}

h1,
h2,
.container p {
	text-align: center;

}

.container h1 {
	color: #957969;
}

.container h2 {
	color: #f8b374;
	padding-bottom: 3%;
	font-family: Dancing Script;
	border-bottom: double #999184;
}
/* mine befor end after*/
h3 {
	display: flex;
	flex-direction: row;
	color: #f8b374;
}

h3:before,
h3:after {
	content: "";
	flex: 1 1;
	border-bottom: double grey;
	margin: auto;
	margin-left: 30%;
	margin-right: 25%;
	max-width: 10%
}


h3:before {
	margin-right: 10px
}

h3:after {
	margin-left: 10px
}

h3:after {
	left: 0.5em;
	margin-right: 0%;
}

/* work */

.work {
	text-align: center;
}

.work h4 {
	color: #b19783;
	padding-bottom: 7%;
	border-bottom: double #b19783;
}

.work article {
	background-color: #f1e2c1;
	display: inline-block;
	text-align: center;
	width: 24%;
	padding: 0 20px 20px;
	color: black;
	border-bottom: 8px solid #a7a191;
}

.work article+article {
	margin-left: 4%;
}

.work img {
	max-width: 100%;
	display: block;
}

.work a {
	border-bottom: 8px solid #b4ac9f;
	display: block;
	margin-left: 25%;
	width: 50%;
	margin-top: 10px;
	padding: 10px;
	text-decoration: none;
	color: #b4ac9f;
}

#resto {
	background-color: #957969;

}

#resto p {
	color: white;

}

.gallery {
	background-image: url("/images/bg-galerie.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 5%;
}
/* footer */

footer {
	display: flex;
	margin-top: 2%;
	padding: 4%;
	background-image: url("../images/motif-footer.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

footer article {
	margin-top: 10px;
}

footer article :nth-child(2) div {
	display: inline-block;
}

footer h4,
li,
p {
	color: #999184;
}

footer h4 {
	border-bottom: double #999184;
	padding-bottom: 5.5%;
	margin: 4%;
}

footer a {
	color: #ff9a00;
}

footer button {
	background-color: #ff9a00;
	color: white;
	position: absolute;
	left: 424px;
	padding: 2px;
	border: #ff9a00;
}

.contact {
	padding-top: 8%;
}

.social {
	padding-top: 13%;
}

.social>ul {
	display: flex;

}
.social li a {
	margin-left: 5px;
	background-color: #4e4442;
	padding: 5px;
	color: #999184;
	border-radius: 5px;
}


/* responsive */
@keyframes fade {
	from {
		opacity: .4
	}

	to {
		opacity: 1
	}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

	.prev,
	.next,
	.text {
		font-size: 11px
	}
}

@media only screen and (min-width: 1100px) {

	#slider-container #slider .slide {
		width: calc(2.5% - 20px);
	}

}

@media only screen and (max-width: 1100px) {

	#slider-container #slider .slide {
		width: calc(3.3333333% - 20px);
	}

}

@media only screen and (max-width: 900px) {

	#slider-container #slider .slide {
		width: calc(5% - 20px);
	}

}

@media only screen and (max-width: 550px) {

	#slider-container #slider .slide {
		width: calc(10% - 20px);
	}

}